@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}


body{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #866c69;
}


.container{
  position: relative;
  max-width: 270px;
  width: 100%;
  padding: 10px 20px 20px;
  border-radius: 12px;
  background: #d4b8b1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}


.display{
  height: 100px;
  width: 100%;
  margin-bottom: 10px;
  font-size: 25px;
  outline: none;
  border: none;
  text-align: right;
  background-color: #d4b8b1;
  color: #53331f;
  pointer-events: none;
}


.buttons{
  display: grid;
  grid-template-columns: repeat(4 ,1fr);
  gap: 14px;
}


.buttons button{
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 50%;
  font-size: 17px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}


.buttons button:active{
  transform: scale(1.2);
  background: #cd8c8c;
}

.operator{
  background: #53331f;
  color: #fff;
}